#menu-div {
	background-color: #36393f;
	background-color: #202225;
	background-color: #2f3136;
	text-align: left;

	box-shadow: 0px 2px 4px #000000;
}

#menu-left {
	float: left;
	display: flex;
}

#menu-right {
	display: flex;
	justify-content: flex-end;
}

.click-button {
	background-color: #eeeeee;
	cursor: pointer;
	border: none;
}

.click-button:hover {
	background-color: #9dadc6;
}

.dropdown {
	position: relative;
	display: block;
}

.toggle-dropdown {
	position: relative;
}

.dropdown-button {
	background-color: #eeeeee;
	cursor: pointer;
	border: none;
}

.dropdown-button:hover {
	background-color: #9dadc6;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 120px;
	z-index: 1;
}

#menu-right .dropdown-content {
	right: 0;
	left: auto;
}

.dropdown-content a {
	padding: 4px;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #9dadc6;
}

.dropdown:hover .dropdown-content {
	display: block;
}
