html, body {
	background: #F9F9FA;
	font-family: 'Roboto';
	padding: 0px;
	margin: 0px;
}

body {
	text-align: center;
}

#info {
	background: white;
	width: 100%;
	margin: auto;
	align-items: center;
	display: flex;
	border-bottom: 1px solid black;
	flex-direction: column;
	padding-bottom: 20px;
	z-index: 1;
}

#topbar {
	width: 100%;
	text-align: center;
	color: white;
	background: #151515;
}

.infobox {
	width: 100%;
	font-size: 20px;
	text-align: center;
}

#welcome {

}

#whatsnew {
}

a {
	color: inherit;
	text-decoration: none;
}

.start {
	display: inline-block;
	margin: auto;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	font-size: 50px;
	text-align: center;
	border: 0px solid black;
	border-radius: 15px;
	box-shadow: 0px 0px 2px black;

	transition-timing-function: linear;
	transition: all 125ms;
}

.start:hover {
	background-color: #eeeeff;
	box-shadow: 0px 0px 8px blue;	
	
	transition-timing-function: linear;
	transition: all 125ms;
}

.start {
	margin-bottom: 200px;
}

#amazon {
	margin: auto;
	width: 95%;
}

#bottombar {
	font-size: 16px;
	text-align: right;
	text-decoration: none;
	background: #151515;
	position: fixed;
	width: 100%;
	bottom: 0%;
	border-top: 1px solid black;
	box-shadow: 1px 0px 4px black;
	z-index: 1;
}

#bottombar a {
	background: white;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
}
