body {
	background-color: #050505;
	text-align: center;
	margin: 0px;
	font-size: 18px;
	font-family: 'Arial';
}

button {
	font-family: inherit;
	font-size: inherit;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
        -khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#chart-div {
	display: inline-block;
	margin-top: 20px;
	width: 30vw;
}

#map-div {
	display: inline-block;
	margin-top: 15px;
	width: 60vw;
}

#toolbar-div {
	color: white;
	text-align: right;
}

#legend-div {

}

.legend-button {
	display: inline-block;
	cursor: pointer;
	border: 4px solid #4f5e77;
	border-top: 2px solid #4f5e77;
	border-radius: 0px 0px 4px 4px;
	margin-left: 3px;
	margin-right: 3px;
	vertical-align: top;
}

.delete {
	width: 20px;
	height: 20px;
	background-color: #ffffff;
}

.state {
	cursor: pointer;
	fill: #ffffff;
}

