#mapmenu {
	display: none;
	flex-direction: column;
}

#mapmenu h2 {
	text-align: center;
	margin: 3px;
}

#mapmenu div {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

#mapmenu a {
	border: 2px solid black;
	border-radius: 8px;
	background-color: #f2eee6;
	padding: 3px;
	margin-left: 5px;
}

#mapmenu a:hover {
	background-color: #aaaaaa;
	cursor: pointer;
}

