#menu-div {
	z-index: 3;
	background-color: #2f3136;
	text-align: left;

	position: relative;

	display: inline-flex;
	flex-direction: row;
	width: 100%;

	overflow-y: hidden;
	overflow-x: auto;
}

.click-button {
	font-family: Arial;
	font-size: 18px;
	background-color: #f2eee6;
	border: none;
	color: #000000;
	cursor: pointer;
	margin-right: 1px;
}

.click-button:hover {
	background-color: #aaaaaa;
}

.dropdown {
	position: relative;
	display: block;
}

#addcandidatebutton {
	white-space: nowrap;
}

#addCandidateDropDown {
	min-width: 10px;
}

#addCandidateDropDown .dropdown-content {
	display: inline-flex;
}

#addCandidateDropDown input {
	border: none;
	width: 100%;
}

.toggle-dropdown {
	position: relative;
}

.dropdown-button {
	background-color: inherit;
	color: #ffffff;
	cursor: pointer;
	font-weight: 500;
	border: none;
}

.dropdown-button:hover {
	background-color: #252525;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 140px;
}

#menu-right .dropdown-content {
	right: 0px;
	left: auto;
}

.dropdown-content a {
	padding: 4px;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #eeeeee;
}

.dropdown:hover .dropdown-content {
	display: block;
}
