#menu-div {
	z-index: 3;
	background-color: #2f3136;
	text-align: left;

	position: relative;

	display: inline-flex;
	align-items: stretch;
	flex-direction: row;
	width: 100%;
}

#menu-left {
	display: inline-flex;
}

#menu-middle {
	color: white;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	flex: 1;
}

#menu-right {
	display: inline-flex;
	justify-content: flex-end;
}

.click-button {
	background-color: #f2eee6;
	font-weight: 500;
	color: #000000;
	cursor: pointer;
	border: none;
}

.click-button:hover {
	background-color: #aaaaaa;
}

.dropdown {
	position: relative;
	display: block;
}

#addCandidateDropDown {
	min-width: 10px;
}

#addCandidateDropDown .dropdown-content {
	display: inline-flex;
}

#addCandidateDropDown input {
	border: none;
	width: 100%;
}

.toggle-dropdown {
	position: relative;
}

.dropdown-button {
	background-color: inherit;
	color: #ffffff;
	cursor: pointer;
	font-weight: 500;
	border: none;
}

.dropdown-button:hover {
	background-color: #252525;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 140px;
}

#menu-right .dropdown-content {
	right: 0px;
	left: auto;
}

.dropdown-content a {
	padding: 4px;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #eeeeee;
}

.dropdown:hover .dropdown-content {
	display: block;
}
