html {
	background-color: black;
	font-family: 'Roboto';
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #181922;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	
	font-size: 18px;
	display: flex;
	flex-flow: column;
}

button {
	font-size: inherit;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
        -khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#shareurl {
	-webkit-touch-callout: all;
	-webkit-user-select: all;
        -khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

#outlines {
	stroke-width: 1.5px;
}

#outlines path {
	transition: all 125ms linear;
}

#text {
	font-size: 16px;
	font-weight: medium;
	pointer-events: none;
}

#application {
	position: relative;
	flex: 1 1 auto;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#chart {
	height: 100%;
}

#chart-div {
	width: 100%;
	height: 20%;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 1;
	overflow: hidden;
}

#logo {
	width: 40%;
	display: none;
	background: orange;
	border: 2px solid black;
	border-radius: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#svgdata {
	width: 100%;
	height: 100%;
}

#map-div {
	width: 100%;
	height: 80%;
	flex: 1 1 auto;
}

#toolbar-div {
	color: white;
	text-align: right;
}

.delete {
	width: 20px;
	height: 20px;
	background-color: #ffffff;
}

.state {
	cursor: pointer;
	fill: #ffffff;
	stroke: #000000;
	stroke-width: 1.5;
	color: red;
}

#themeButton #chartButton #counterButton #addCandidateButton #moveButton #miscButton {
	display = 'none';
}
