.popup {
	display: none;
	background-color: #ffffff;
	border: 2px solid black;
	border-radius: 10px;

	padding: 8px;	
	z-index: 10;

	position: absolute;
	left: 50%;
	top: 50%;
	max-height: 80%;
	transform: translate(-50%, -50%);

	overflow-y: auto;
}

.popup button {
	border: none;
	color: black;
	background-color: #cfcfcf;
}

.closebutton {
	position: absolute;
	left: 10px;
	top: 10px;
	fill: red;
	transition: all 200ms;
}

.closebutton:hover {
	fill: pink;
	transition: all 200ms;
}
