.selectmenu {
	display: none;
	flex-direction: column;
}

.selectmenu h2 {
	text-align: center;
	margin-top: 30px;
}

.selectmenu a {
	border-top: 1px solid black;
	background-color: #ffffff;
	padding: 12px;
}

.selectmenu .selectmenu-button:hover {
	background-color: #bbbbbb;
	cursor: pointer;
}

.selectmenu .selectmenu-split {
	background-color: #000000;
	color: white;
}
