html {
	background-color: black;
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #181922;
	text-align: center;
	margin: 0px;
	height: 100%;
	width: 100%;
	
	font-family: 'Roboto';
	font-size: 18px;
	display: flex;
	flex-flow: column;
}

button {
	font-family: inherit;
	font-size: inherit;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
        -khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#outlines {
	stroke-width: 1.5px;;
}

#text {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: medium;
	pointer-events: none;
}

#application {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#legend-div {
	position: absolute;
	border-color: #2f3136;
	z-index: 2;
	pointer-events: none;
	top: 0;
}

#chart {
	width: 100%;
}

#chart-div {
	width: 28vw;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	pointer-events: none;
	border: 1px solid black;
	box-shadow: 1px 0px 4px #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	overflow: hidden;
}

#logo {
	width: 40%;
	display: none;
	background: orange;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 3px black;
	margin-top: 25px;
	margin-bottom: 25px;
}

#svgdata {
	width: 100%;
	height: 100%;
}

#map-div {
	width: 100%;
	height: 100%;
}

#toolbar-div {
	color: white;
	text-align: right;
}

.legend-button {
	font-family: 'Roboto';
	font-weight: '1000';
	display: inline-block;
	cursor: pointer;
	border: 4px solid #2f3136;
	border-top: 4px solid #2f3136;
	border-color: inherit;
	border-radius: 0px 0px 4px 4px;
	margin-left: 3px;
	margin-right: 3px;
	vertical-align: top;
	
	box-shadow: 0px 2px 4px #000000;
	min-width: 16px;
	min-height: 16px;
	
	pointer-events: auto;
}

.legend-button-text {
	border-style: none;
}

.delete {
	width: 20px;
	height: 20px;
	background-color: #ffffff;
}

.state {
	cursor: pointer;
	fill: #ffffff;
	stroke: #000000;
	stroke-width: 1.5;
	color: red;
}
