body {
	background: #fffbf2;
	background: white;
	margin-left: 15vw;
	margin-right: 15vw;
	font-family: Times;
}

a {
	color: inherit;
	text-decoration: none;
}

hr {
	background: #cccccc;
	height: 1px;
	border: none;
}

#header {
	padding: 5px;
	font-size: 52px;
	font-weight: bold;
	text-align: center;
	border-bottom-style: double;
	margin-bottom: 10px;
}

#sub-header {
	font-size: 16px;
	font-weight: normal;
}

#footer {
	text-align: right;
	color: #444444;
	font-size: 14px;
}

.error {
	background: #ff5865;
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}
